body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
    background-color: white;
    min-width: 400px;
    
}
#header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#header li{
    display: inline;
}
#header nav a{
    display: inline-block;
    color: black;
    padding: 12px 12px;
    text-decoration: none;
}
#header nav a:hover{
    text-decoration: underline;
}
#header nav svg{
    display: inline-block;
    height: 25px;
    width: 25px;
    color: #5f6368;
    fill: currentColor;
}
#header nav svg:hover{
    background-color: #f8f9fa;
    border-radius: 50%;
    border: 5px solid #f8f9fa;
}
#nyx{
    height: 32px;
    width: 32px;
    border-radius: 50px;
    display: block;
    position: relative;
    margin-top: -2px;
    z-index: 0;
    line-height: normal;
}
#nyx:hover{
    background-color: #f8f9fa;
    border-radius: 50%;
    border: 5px solid #f8f9fa;
}
#about{
    font-size: 13px;
    margin-left: 4px;
    margin-top: 3.5px;
}
#store{
    font-size: 13px;
    margin-left: -6px;
    margin-top: 3.5px;
}
#gmail{
    font-size: 13px;
    margin-right: -8px;
    margin-top: 3.5px;
}
#images{
    font-size: 13px;
    margin-top: 3.5px;
}
#grid{
    margin-top: 0;
    margin-right: -4px;
}
#header nav{
    top: 0;
}
#logo{
   max-height: 100%;
   max-width: 100%;
   object-fit: contain;
   object-position: center bottom;
   width: auto;
}
input{
    width: 47%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 15px 15px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 44px;
}
span{
    margin-top: -20px;
    color: #9aa0a6;
    height: 20px;
    width: 20px;
    display: inline-block;
    fill: currentColor;
    line-height: 24px;
    margin-left: 345px;
    position: absolute;
    transform: translate(-50%, -50%);
}
svg{
    display: block;
    height: 100%;
    width: 100%;
    color: #9aa0a6;
    fill: currentColor;
    line-height: 24px;
}
button{
    background-color: #f8f9fa;
    border: 3px solid #f8f9fa;
    border-radius: 5px;
    padding: 10px 10px;
    text-align: center;
    font-size: 14.5px;
    margin: 25px 4px;
    
}
#footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#footer li{
    display: inline;
}
#footer nav a{
    display: inline-block;
    color: #70757a;
    padding: 12px 12px;
    text-decoration: none;
}
#footer nav a:hover{
    text-decoration: underline;
}
footer{
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    position: absolute;
    right: 0;
    left: 0;
    display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
#advertising{
    margin-left: 1vw;
    margin-top: .5vw;
    float: left;
}
#business{
    margin-top: .5vw;
    float: left;
}
#how{
    margin-top: .5vw;
    float: left;
}

#settings{
    float: right;
    margin-top: .5vw;
}
#terms{
    float: right;
    margin-top: .5vw;
}
#privacy{
    float: right;
    margin-left: 2vw;
    margin-top: .5vw;
}
#carbon{
    margin-left: 15vw;
}