body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color:  #222;
    background-color: white;
    height: 100%;
    margin: 0;
    padding: 0;
}
#body{
    display: flex;
    flex-direction: column;
    height: 100%;
}
#header{
    min-width: 400px;
}
#header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#header li{
    display: inline;
}
#header nav a{
    display: inline-block;
    color: black;
    padding: 12px 12px;
    text-decoration: none;
}
#header nav a:hover{
    text-decoration: underline;
}
#header nav svg{
    display: inline-block;
    height: 25px;
    width: 25px;
    color: #5f6368;
    fill: currentColor;
}
#header nav svg:hover{
    background-color: #f8f9fa;
    border-radius: 50%;
    border: 5px solid #f8f9fa;
}
#nyx{
    height: 32px;
    width: 32px;
    border-radius: 50px;
    display: block;
    position: relative;
    margin-top: -2px;
    z-index: 0;
    line-height: normal;
}
#nyx:hover{
    background-color: #f8f9fa;
    border-radius: 50%;
    border: 5px solid #f8f9fa;
}
#about{
    font-size: 13px;
    margin-left: 4px;
    margin-top: 3.5px;
}
#store{
    font-size: 13px;
    margin-left: -6px;
    margin-top: 3.5px;
}
#gmail{
    font-size: 13px;
    margin-right: -8px;
    margin-top: 3.5px;
}
#images{
    font-size: 13px;
    margin-top: 3.5px;
}
#grid{
    margin-top: 0;
    margin-right: -4px;
}
#header nav{
    top: 0;
}
#logo{
    display: flex;
    justify-content: center;
    max-height: 92px;
    height: 100%;
    margin-top: auto;
    margin: auto;
    height: calc(100% - 560px);
    flex-shrink: 0;
    box-sizing: border-box;
}
#google{
    min-height: 92px;
    max-height: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#goog{
   max-height: 100%;
   max-width: 100%;
   object-fit: contain;
   object-position: center-bottom;
   width: auto;

}
.searchContainer{
    display: inline-flex;
    flex: 1 1;
    position: relative;
    border: 1px solid #dfe1e5;
    border-radius: 27px;
    overflow: hidden;
    width: 47%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 7px 7px;
   
}
.searchIcon{
    padding: 0.5rem;
    color: #9aa0a6;
    fill: currentColor;
}
.searchBox{
    border: 0;
    padding: 0.5rem;
    flex: 1;
    word-wrap: break-word;
}
input:focus{
    outline: none;
}
button{
    background-color: #f8f9fa;
    border: 3px solid #f8f9fa;
    border-radius: 5px;
    padding: 10px 10px;
    text-align: center;
    font-size: 14.5px;
    margin: 25px 4px;
}
#footer{
    background-color: #f2f2f2;
    flex-shrink: 0;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer{
    padding: 0 20px;
}
.center{
    order: 2;
}
.center span{
    white-space: nowrap;
   display: inline;
   padding: 15px;
}
.center img{
    height: 14px;
    margin-right: -6px;
}
.center a{
    margin: 0;
    vertical-align: top;
    color: #707f7a;
    text-decoration: none;
}
.left{
    justify-content: flex-start;
    min-width: 30%;
    order: 1;
    display: flex;
}
.left a{
    display: inline;
    padding: 15px;
    white-space: nowrap;
    color: #707f7a;
    text-decoration: none;
}
.right{
    justify-content: flex-end;
    min-width: 30%;
    order: 3;
    display: flex;
    flex-wrap: wrap;
}
.right a{
    color: #707f7a;
    text-decoration: none;
    display: inline;
    padding: 15px;
    white-space: no-wrap;
}